.profile {
  border-radius: 15px;
  background-color: #1c1f4a;
  grid-row: 1 / -1;
  overflow: hidden;

  &__header {
    background-color: #5847eb;
    padding: 3.7rem 3.2rem 8rem 3.2rem;
    border-radius: 15px;
  }

  &__avatar {
    height: 7.7rem;
    width: 7.7rem;
    outline: 3px solid #fff;
    border-radius: 50%;
    margin-bottom: 4rem;
  }

  &__subheading {
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: #bdc1ff;
    display: block;
    margin-bottom: 0.7rem;
  }

  &__name {
    font-size: 4rem;
    line-height: 4.7rem;
    font-weight: 300;
  }

  &__links {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
    cursor: pointer;

    &--active {
      color: #fff;
      font-weight: 500;
    }
  }

  &__link {
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: #bdc1ff;

    &:hover,
    &--active {
      color: #fff;
    }
  }
}
